.root-home {
    height: 100%;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    margin: 0;
    padding: 0;
}

.work {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-content: center;
    /*align-items: flex-start;*/
    child-align: left;
    top: 0;
    flex-direction: column;
    display: -webkit-flex;
}

.route-fade-enter {
    opacity: 0;
}

.route-fade-enter.route-fade-enter-active {
    opacity: 1;
    -webkit-transition: opacity 600ms ease-in-out;
    -o-transition: opacity 600ms ease-in-out;
    transition: opacity 600ms ease-in-out;
}

.route-fade-exit {
    opacity: 1;
    position: fixed;
    display: none
}

.route-fade-exit.route-fade-exit-active {
    opacity: 0;
    -webkit-transition: opacity 0ms ease-in-out;
    -o-transition: opacity 0ms ease-in-out;
    transition: opacity 0ms ease-in-out;
}
